<main>
  <section class="edit_data">

    <h1 class="title"> Edit your data</h1>

    <div class="container">
      <!-- Photo -->
      <div class="d-flex justify-content-center">
        <div class="container photo">
          <div class="profile-background">
            <img class="photo" [src]="img" alt="planImage">
          </div>
        </div>
      </div>
      <div class="contact-form row">
        <div class="col-lg justify-content-center">
          <input type="text" readonly class="form-control-plaintext" id="staticPlanName"
                 [value]="name">
        </div>
        <div class="form-field col-lg-12">
          <input #abv id="abv" class="form-control" name="abv" type="text">
          <label for="abv" class="form-label">Abbreviation</label>
        </div>
        <div class="form-field col-lg-12">
          <label for="newDescription">Description</label>
          <textarea #newDescription [value]="plan.description" id="newDescription" name="newDescription" rows="5"
                    cols="80"></textarea>
        </div>
        <div class="col-lg">
          <select #difficulty name="difficulty" id="difficulty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="col-lg-12">
          <button type="submit" (click)="editPlan($event, newDescription.value, abv.value, difficulty.value)"
                  class="btn-submit">Confirm
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
