<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 d-md-block borderScreen"></div>
      <div class="col-lg-10 col-md-12 main">
        <h1 class="title" data-aos="fade-left"> Your account</h1>
        <div class="container-fluid" data-aos="fade-up">
          <section class="profileContainer d-flex align-items-center">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-4">
                  <header class="section-header">
                    <h1>About you</h1>
                  </header>
                  <div class="profile-card">
                    <div [class]="cardHeader">
                      <div class="pic">
                        <img src="#" alt="">
                      </div>
                      <div class="item">
                        Name:
                        <div class="name">{{authorization.user.name}}</div>
                        Username:
                        <div class="name">{{authorization.user.username}}</div>
                      </div>
                      <div class="item">
                        Email:
                        <div class="email"><p>{{authorization.user.email}}</p></div>
                      </div>
                      <!-- Button trigger-->
                      <a href="#">
                        <button (click)="goToEditProfile()"><i class="fas fa-user-edit"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- CHARTS -->
                <div class="col-lg-9 col-md-8 charts">
                  <header class="section-header">
                    <h1>Your progress</h1>
                  </header>
                  <!-- DOUGHNUT CHART-->
                  <div class="row wrapper" id="chartsPDF">
                    <div class="col-lg-6 col-md-12 chartSeparation">
                      <app-doughnut-chart></app-doughnut-chart>
                    </div>
                    <!-- BAR CHART -->
                    <div class="col-lg-6 col-md-12 chartSeparation">
                      <app-barChart></app-barChart>
                    </div>
                    <!-- RADAR CHART-->
                    <div class="col-lg-6 col-md-12 chartSeparation">
                      <app-radar-chart></app-radar-chart>
                    </div>
                  </div>
                  <button id="PDF">Download your progress in PDF</button>
                </div>
              </div>
            </div>
          </section>
          <category-list></category-list>
        </div>

        <section *ngIf="admin" class="section-header">
          <app-admin-table></app-admin-table>
        </section>

      </div>
      <div class="col-lg-1 d-md-block border-screen"></div>
    </div>
  </div>
</main>
