<!-- ======= F.A.Q Section ======= -->
<section class="faq" id="faq">

  <div class="container">

    <header class="section-header category">
      <div class="justify-content-center">
        <h1>Explore</h1>
        <h2 *ngIf="registered ;else notRegistered" class="subtitle">A specific selection of our plans according to your
          likes</h2>
        <h2 #notRegistered class="subtitle">A selection of our plans for your pleasure</h2>
      </div>
    </header>
    <div class="row" id="PlanList">
      <div class="col-lg-6">
        <ngb-accordion [closeOthers]="true">
          <ngb-panel *ngFor="let plan of plans">
            <ng-template ngbPanelTitle>
              <img alt="{{plan.categoryName}}" class="icon" src="/image/category/{{plan.categoryName}}"/>
              {{plan.name}}
              <img alt="{{plan.difficulty}}" class="icon" src="/assets/img/level/level{{plan.difficulty}}.png"/>
            </ng-template>
            <ng-template ngbPanelContent>
              {{plan.description}}
              <div *ngIf="registered" class="col-7">
                <button  (click)="CompletePlan(plan.name)">I did it!
                </button>
              </div>
              <div *ngIf="registered" class="col-3">
                <h2 *ngIf="likedUser && registered"><img id="FullHearth{{plan.abv}}" class="like icon" ng-click="FillHeart(plan.abv)"
                                                              src="/assets/img/level/FullHeart.svg"/></h2>

                <h2 *ngIf="!likedUser && registered"><img id="EmptyHearth{{plan.abv}}" class="like  icon" ng-click="EmptyHeart(plan.abv)"
                                       src="/assets/img/level/EmptyHeart.svg"/></h2>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
  <button class="loadmore" onclick="LoadMore(ob)">Load more plans</button>
</section><!-- End F.A.Q Section -->


<!-- ======= Footer ======= -->
