<main>
  <section>
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-1 d-md-block borderScreen"></div>

        <div class="col-lg-10 col-md-12 main">
          <h1 class="title">404 - Not found</h1>
          <div class="container-fluid" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-6 col-md-block">
                <img class="Gif" src="/assets/img/notFound.gif"/>
              </div>
              <div class="col-lg-6">
                <div class="Text">
                  <h2>Don't hide yourself!</h2>
                  <h3>You didn't break the website, you only accessed to a not existing screen or you are not
                    allowed to be here.<br><br>But don't worry, click on every link of the navbar and return to
                    normality
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1 d-md-block border-screen"></div>
      </div>
    </div>
  </section>

</main>
