<div class="align-content-center" id="PlanList">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel *ngFor="let plan of plans">
        <ng-template class="title" ngbPanelTitle>
          <img alt="{{plan.categoryName}}" class="icon" src="/api/categories/image?categoryName={{plan.categoryName}}"/>
          {{plan.name}}
          <img alt="{{plan.difficulty}}" class="flag" src="/assets/img/level/level{{plan.difficulty}}.png"/>
          <a *ngIf="user.isLogged()"><i class="editIcon fas fa-pencil-alt fa-lg"></i></a>
        </ng-template>
        <ng-template ngbPanelContent>
          {{plan.description}}
          <div *ngIf="user.isLogged()" class="col-7">
            <button id="start" class="start" (click)="firstPlanDisplay()">start
            </button>
            <button id="finish" class="finish" (click)="CompletePlan(plan.name)">I did it!
            </button>
            <button  id="leave" class="leave" (click)="secondPlanDisplay()">I won't do it
            </button>
            
          </div>
          <div *ngIf="user.isLogged()" class="col-3">
            <h2 *ngIf="user.isLogged() && !plan.likedUser"><img id="FullHeart {{plan.name}}" class="like flag"
                                                           (click)="FillHeart(plan.name)"
                                                           src="/assets/img/level/EmptyHeart.svg"/></h2>

            <h2 *ngIf="user.isLogged() && plan.likedUser"><img id="EmptyHeart {{plan.name}}" class="like flag"
                                                          (click)="EmptyHeart(plan.name)"
                                                          src="/assets/img/level/FullHeart.svg"/></h2>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>