<main>
  <section class="edit_data">

    <h1 class="title"> Edit your data</h1>

    <div class="container">
      <!-- Photo -->
      <div class="d-flex justify-content-center">
        <div class="container photo">
          <div class="profile-background">
            <img class="photo" [src]="img" alt="profileImage">
          </div>
        </div>
      </div>
      <!-- End photo -->

      <div class="contact-form row">
        <!-- Email-->
        <div class="col-lg justify-content-center">
          <input type="text" [value]="user.email" readonly class="form-control-plaintext" id="staticEmail">
        </div>
        <div class="form-field col-lg-12">
          <input #Username id="userName" [value]="user.username" class="form-control" name="username" type="text"
                 placeholder="">
          <label for="userName" class="form-label">Username</label>
        </div>
        <!-- Name-->

        <div class="form-field col-lg-6">
          <input #Name id="name" class="form-control" name="name" [value]="user.name" type="text">
          <label for="name" class="form-label">Name</label>
        </div>
        <!--Surname-->
        <div class="form-field col-lg-6">
          <input #Surname id="surname" [value]="user.surname" class="form-control" name="surname" type="text"
                 placeholder="">
          <label for="surname" class="form-label">Surname</label>
        </div>
        <!-- Password -->
        <div class="form-field col-lg-6">
          <input #password type="password" id="password" name="encodedPassword" class="form-control"
                 placeholder="*******">
          <label for="password" class="form-label">Password</label>
        </div>
        <!-- Confirm Password -->
        <div class="form-field col-lg-6">
          <input #confirmPassword type="password" id="repeatPassword" class="form-control"
                 name="confirmEncodedPassword"
                 placeholder="*******">
          <label for="repeatPassword" class="form-label">Repeat Password</label>
        </div>
        <div class="col-lg">
          <!-- Change photo -->
          <input #image type="file" name="imageFile" id="customFile">
          <!-- Submit button-->
        </div>
        <div class="col-lg-12">
          <button type="submit" class="btn-submit"
                  (click)="editProfile($event, Username.value, Name.value, Surname.value, password.value, confirmPassword.value, image)">
            Confirm
          </button>
        </div>
      </div>

    </div>
  </section>

</main>
