<main>
  <section class="edit_data">

    <h1 class="title"> Edit your data</h1>

    <div class="container">
      <!-- Photo -->
      <div class="d-flex justify-content-center">
        <div class="container photo">
          <div class="profile-background">
            <img class="photo" [src]="img" alt="categoryImage">
          </div>
        </div>
      </div>
      <div class="contact-form row">
        <div class="col-lg justify-content-center">
          <input type="text" readonly class="form-control-plaintext" id="staticCategoryName" [value]="categoryName">
        </div>
        <div class="form-field col-lg-12">
          <label for="newDescription">Description</label>
          <textarea #newDescription id="newDescription" name="newDescription"
                    rows="5" cols="80"></textarea>
        </div>
        <div class="form-field col-lg-12">
          <label for="color">Choose a color:</label>
          <select #color name="color" id="color">
            <option value="orange">Orange</option>
            <option value="darkblue">Dark blue</option>
            <option value="purple">Purple</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
          </select>
        </div>
        <div class="col-lg">
          <input #icon type="file" name="imageFile" id="customFile">
        </div>
        <div class="col-lg-12">
          <button type="submit" class="btn-submit"
                  (click)="editCategory($event, newDescription.value, color.value, icon)">Confirm
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
