<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Growing - Mental Health</title>

    {{>head}}
    <link href="/assets/css/category.css" rel="stylesheet">

    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

<!-- Start of the header-->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <img src="/images/growingLogo.png" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/categories">Categories</a></li>
                <li><a class="nav-link scrollto" href="/explore">Explore</a></li>
                <li><a class="nav-link scrollto" href="/aboutUs">About us</a></li>
                {{#registered}}
                <li><a class="nav-link scrollto active" href="/profile"><i class="fas fa-user"></i></a>
                </li>
                <li><a class="sign_out scrollto" href="/getStarted">Sign out</a></li>
                {{/registered}}
                {{^registered}}
                <li><a class="getstarted scrollto" href="/getStarted">Get Started</a></li>
                {{/registered}}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<!-- Start of the Page-->
<section id="mentalHealth" class="mentalHealth">
    <div class="container">
        <!-- Container of the header-->
        <header class="section-header category" data-aos="fade-left">
            <div class="justify-content-center">
                <h1>{{category.name}}

                    <!-- This is to diferentiate if the like icon is appearing because the user is logged-->
                    {{#registered}}
                        <!-- Filled heart if the user gave his / her like-->
                        {{^liked}}
                        <img src="/assets/img/level/EmptyHeart.svg" class="like icon mini" onclick="ChangeHeart(this)" alt="notFilledHeart"/></h1>
                        <!-- Empty on the other case-->
                        {{/liked}}
                        {{#liked}}
                        <img src="/assets/img/level/FullHeart.svg" class="like icon mini" onclick="ChangeHeart(this)" alt ="filled like"/>
                        {{/liked}}
                    {{/registered}}
                </h1>
                <h2 class="subtitle">{{category.des}}</h2>
            </div>
        </header>
        <!-- End of the container of the header-->

        <div class="row" data-aos="fade-up">
            <!-- Tree section-->
            <div class="col-md-5">
                <header class="section-header">
                    <h3>Your progress</h3>
                </header>
                <div class="imagenArbol">
                    <img id="progress" src="/assets/img/progress/fase{{level}}.png"/>
                    <p class="update"> Last updated: {{date}} </p>
                </div>
            </div>
            <!-- End of Tree Section -->

            <!-- Start of Task List -->
            <div class="col-md-7 list">
                <header class="section-header plan">
                    <h3>Task</h3>
                    {{#registered}}
                        {{#admin}}
                        <!-- Add button for Admin User -->
                        <div class="add">
                            <button id="btnAdd" class="btn-add"><i class="fas fa-plus-circle"></i></button>
                        </div>
                        <!-- End add button for Admin User -->
                        {{/admin}}
                    {{/registered}}

                </header>

                {{>accordionCategories}}
                <!-- End Task List -->
            </div>
            <!-- End container Task List -->
        </div>
        <!-- End row -->
    </div>
    <!-- End Screen Container -->
</section>

{{>footer}}
