{{#Plan}}
<div class="col-lg-6">
    <div class="accordion accordion-flush" id="{{name}}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-{{name}}">
                    <div class="service-box orange">
                        <i class=" {{getIcon}} icon"></i>
                    </div>
                    {{name}}<img src="/assets/img/level/{{getUrlToFlag}}" class="icon mini"/>
                </button>
            </h2>
            <div id="faq-content-{{name}}" class="accordion-collapse collapse"
                 data-bs-parent="#{{name}}">
                <div class="accordion-body">
                    {{description}}
                    {{#registered}}
                    <div class="col-9">
                        <button onclick="ChangeButtonsStatus(this)" class="start">Start</button>
                        {{^likedUser}}
                        <h2><img src="./assets/img/level/EmptyHeart.svg" class="like icon mini" onclick="ChangeHeart(this)"/></h2>
                        {{/likedUser}}
                        {{#likedUser}}
                        <h2><img src="./assets/img/level/FullHeart.svg" class="like icon mini" onclick="ChangeHeart(this)"/></h2>{{/likedUser}}
                        <form method="post" action="/complete/{{name}}">
                            <input type="submit" class="finish" value="I did it!">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                        <button onclick="ChangeButtonsStatus(this)" class="leave">I won't finish
                        </button>

                    </div>
                    {{/registered}}

                </div>
            </div>
        </div>
    </div>
</div>

{{/Plan}}