<h1>Users and Categories</h1>
<br>
<div class="field" id="searchform">
  <input #emailSearched id="searchterm" name="emailSearched" placeholder="User that you are looking for" type="text"/>
  <button id="search" type="submit" value="Find!" (click)="filterByEmail($event, emailSearched.value)">Find!</button>
</div>

<table id="UsersTable">
  <tr id="UsersTableTitle">
    <th>Email</th>
    <th>Plan Completed</th>
    <th>Date</th>
    <th>Remove</th>
  </tr>

  <tr *ngFor="let record of completedPlans">
    <td class="email">{{record.email}}</td>
    <td class="name">{{record.name}}</td>
    <td class="date">{{record.date}}</td>
    <td><button (click)="removeCompletedPlan(record.email, record.name, record.date)"  class="displayed leave">Remove</button></td>
  </tr>

</table>
