<div class="row" id="PlanList" *ngFor="let plan of plans">>
                <div class="col-lg-6">
                    <div class="accordion accordion-flush" id="{{plan.abv}}">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-{{plan.abv}}">
                                    <div class="service-box orange">
                                        <div class="profile-background explore">
                                            <img src="/image/category/{{category.name}}" class="icon">
                                        </div>
                                    </div>
                                    {{plan.name}}<img src="/assets/img/level/level{{plan.difficulty}}.png" class="icon"/>
                                    <a href="/editPlan/{{plan.name}}" *ngIf="admin">><i class="editIcon fas fa-pencil-alt fa-lg"></i></a>
                                </button>
                            </h2>
                            <div id="faq-content-{{plan.abv}}" class="accordion-collapse collapse"
                                 data-bs-parent="#{{planabv}}">
                                <div class="accordion-body">
                                    {{plan.description}}
                                    <div class="col-7" *ngIf="registered">
                                        <button onclick="ChangeButtonsStatus(this)" class="start">Start</button>
                                        <form method="post" action="/complete/{{plan.name}}">
                                            <input type="submit" class="finish" value="I did it!">
                                        </form>
                                        <button onclick="ChangeButtonsStatus(this)" class="leave">I won't finish
                                        </button>
                                    </div>
                                    <div class="col-3" *ngIf="registered">
                                        <h2 *ngIf="notLikedUser; else likedUser"><img src="/assets/img/level/EmptyHeart.svg" class="like icon" onclick="ChangeHeart(this)"/></h2>
                                        <h2 #likedUser><img src="/assets/img/level/FullHeart.svg" class="like  icon" onclick="ChangeHeart(this)"/></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</div>
        </div>



        <button class="loadmore" onclick="LoadMore(ob)">Load more plans</button>
    </div>
</section><!-- End F.A.Q Section -->


<!-- ======= Footer ======= -->