<section class="mentalHealth" id="mentalHealth">
  <div class="container">
    <!-- Container of the header-->
    <header class="section-header category" data-aos="fade-left">
      <div *ngIf="admin">
      <form action="/editCategory/{{category.name}}" class="editCategory" method="post">
        <input name="_csrf" type="hidden" value="{{token}}"/>
        <input class="edit" type="submit" value="Edit category">
      </form>
      </div>
      <div class="justify-content-center">
        <h1>{{category.name}}</h1>

        <div *ngIf="registered">
          <div *ngIf="category.likedByUser;else NotLiked">
        <form action="/categoryInfo/{{name}}/like" method="post">
          <input name="_csrf" type="hidden" value="{{token}}"/>
          <input alt="emptyHeart" class="photoHeart like" name="submit" src="/assets/img/level/EmptyHeart.svg"
                 type="image">
        </form>
        </div>
        <ng-template #NotLiked>
        <form action="/categoryInfo/{{name}}/dislike" method="post">
          <input name="_csrf" type="hidden" value="{{token}}"/>
          <input alt="filledHeart" class="photoHeart like" name="submit" src="/assets/img/level/FullHeart.svg"
                 type="image">
        </form>
        </ng-template>
        </div>
        <h2 class="subtitle">{{category.description}}</h2>
      </div>
    </header>
    <!-- End of the container of the header-->
    <div *ngIf="admin">
    <!-- Add button for Admin User -->
    <div class="editCategory align-items-center">
      <button class="addNew" data-aos="fade-up" onclick="javascript:openCloseForm()">Add plan</button>
      <div class="form-popup" id="myForm">
        <form action="/categoryInfo/{{name}}/addPlan" class="sign-up-form form-container"
              enctype="multipart/form-data" method="post">
          <h2 class="title">Create new plan</h2>
          <!-- Plan name -->
          <div class="input-field">
            <i class="fas fa-signature"></i>
            <input name="planName" placeholder="name" required type="text"/>
          </div>
          <!-- abv -->
          <div class="input-field">
            <i class="fas fa-font"></i>
            <input name="abv" placeholder="abv" required type="text"/>
          </div>
          <!-- Description-->
          <div class="input-field">
            <i class="far fa-comments"></i>
            <input name="description" placeholder="description" required type="text"/>
          </div>
          <!-- Difficulty -->
          <div class="input-field">
            <i class="fas fa-traffic-light"></i>
            <input max="3" min="1" name="difficulty" placeholder="level" required
                   type="number"/>
          </div>
          <input id="create" type="submit" value="Create plan"/>
          <button id="cancel" onclick="javascript:closeForm()" type="button">Cancel</button>
          <input name="_csrf" type="hidden" value="{{token}}"/>
        </form>
      </div>
    </div>

    <!-- End add button for Admin User -->
    </div>
    <div class="row" data-aos="fade-up">
      <!-- Tree section-->
      <div class="col-md-5">
        <header class="section-header">
          <h3>Your progress</h3>
        </header>
        <div class="imagenArbol">
          <div *ngIf="registered;else notRegistered">
          <img class="progress" src="{{ImageURL}}"/>
            </div>
          <ng-template #notRegistered>
          <img class="progress" src="{{ImageURL}}"/>
          <p class="update">To see your real progress: <a href="/getStarted">log in</a></p>
          </ng-template>
        </div>
      </div>
      <!-- End of Tree Section -->

      <!-- Start of Task List -->
      <div class="col-md-7 list">
        <header class="section-header plan">
          <h3>Task</h3>
        </header>

        <ngb-panel *ngFor="let plan of plans">
          <ng-template class="title" ngbPanelTitle>
            <img alt="{{plan.categoryName}}" class="icon" src="/api/categories/image?categoryName={{plan.categoryName}}"/>
            {{plan.name}}
            <img alt="{{plan.difficulty}}" class="flag" src="/assets/img/level/level{{plan.difficulty}}.png"/>
            <a *ngIf="admin"><i class="editIcon fas fa-pencil-alt fa-lg"></i></a>
          </ng-template>
          <ng-template ngbPanelContent>
            {{plan.description}}
            <div *ngIf="registered" class="col-7">
              <button id="start" class="start" (click)="firstPlanDisplay()">start
              </button>
              <button id="finish" class="finish" (click)="CompletePlan(plan.name)">I did it!
              </button>
              <button  id="leave" class="leave" (click)="secondPlanDisplay()">I won't do it
              </button>

            </div>
            <div *ngIf="registered" class="col-3">
              <h2 *ngIf="registered && !plan.likedUser"><img id="FullHeart {{plan.name}}" class="like flag"
                                                             (click)="FillHeart(plan.name)"
                                                             src="/assets/img/level/EmptyHeart.svg"/></h2>

              <h2 *ngIf="registered && plan.likedUser"><img id="EmptyHeart {{plan.name}}" class="like flag"
                                                            (click)="EmptyHeart(plan.name)"
                                                            src="/assets/img/level/FullHeart.svg"/></h2>
            </div>
          </ng-template>
        </ngb-panel>
        </ngb-accordion>

        <!-- End Task List -->
      </div>
      <!-- End container Task List -->
    </div>
    <!-- End row -->
  </div>
</section>
