<app-header></app-header>
    <!-- Add button for Admin User -->
    <div class="editCategory align-items-center">
      <button class="addNew" onclick="javascript:openCloseForm()" data-aos="fade-up">Add plan</button>
      <div class="form-popup" id="myForm">
        <form action="/categoryInfo/{{category.name}}/addPlan" method="post"
              class="sign-up-form form-container" enctype="multipart/form-data">
          <h2 class="title">Create new plan</h2>
          <!-- Plan name -->
          <div class="input-field">
            <i class="fas fa-signature"></i>
            <input #name type="text" name="planName" placeholder="name" required/>
          </div>
          <!-- abv -->
          <div class="input-field">
            <i class="fas fa-font"></i>
            <input type="text" name="abv" placeholder="abv" required/>
          </div>
          <!-- Description-->
          <div class="input-field">
            <i class="far fa-comments"></i>
            <input type="text" name="description" placeholder="description" required/>
          </div>
          <!-- Difficulty -->
          <div class="input-field">
            <i class="fas fa-traffic-light"></i>
            <input type="number" min="1" max="3" name="difficulty" placeholder="level"
                   required/>
          </div>
          <input type="submit" id="create" value="Create plan"/>
          <button type="button" id="cancel" onclick="javascript:closeForm()">Cancel</button>
          <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>

      </div>
    </div>

    <!-- End add button for Admin User -->
    <div class="row" data-aos="fade-up">
      <!-- Tree section-->
      <div class="col-md-5">
        <header class="section-header">
          <h3>Your progress</h3>
        </header>
        <div class="imagenArbol">
          <span *ngIf="permissions.isLogged() else elseBlock">
            <img class="progress" src="{{image}}"/>
            <p class="update"> Last updated: {{date}} </p>
          </span>
          <ng-template #elseBlock>
            <img class="progress" src="{{image}}"/>
            <p class="update">To see your real progress: <a href="/getStarted">log in</a></p>
          </ng-template>

        </div>
      </div>
      <!-- End of Tree Section -->

      <!-- Start of Task List -->
      <div class="col-md-7 list">
        <header class="section-header plan">
          <h3>Task</h3>
        </header>

        <app-category-accordion></app-category-accordion>
        <!-- End Task List -->
      </div>
      <!-- End container Task List -->
    </div>
  <!-- End Screen Container -->
<app-footer></app-footer>

