#btnAdd{
    border-color: transparent;
    background-color: transparent;
}

.btn-add{
    color: #02b364;
    font: 40px/1px FontAwesome ;
}

#edit{
    border-color: transparent;
    background-color: transparent;
}

.btn-edit{
    color: #fa09d9;
    font: 20px/1px FontAwesome ;
    background-color: transparent;
}